/* About */

.about {
  display: flex;
  flex-direction: column;

  @media (min-width: 48rem) {
    flex-direction: row;
    // TODO: figure out best value for adding space between hero image and text
    justify-content: space-between;
  }
}

.about-image {
  width: 100px;
}
