/* Button */
@use '../variables';

.button {
  border-radius: 1rem;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  padding: 0.5rem 1rem;
}

.button-reset {
  border: none;
}

.button-primary {
  background-color: variables.$color-background-yellow;
  color: variables.$color-text-dark-gray;
}
