/* CallToAction */
@use '../variables';

.hero {
  background-color: variables.$color-background-green;
  color: variables.$color-text-light-gray;
  padding: 0.938rem 1.125rem;

  @media (min-width: 48rem) {
    padding-top: 1.688rem;
    padding-bottom: 1.75rem;
    height: 25.375rem;
  }

  .hero-section {
    display: flex;

    @media (min-width: 48rem) {
      gap: 3.75rem;
    }

    h1 {
      color: variables.$color-text-yellow;
    }

    h2 {
      margin-bottom: 1rem;
    }

    p {
      color: variables.$color-text-light-gray;
      margin-bottom: 1.75rem;
    }

    .hero-description-section {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @media (min-width: 48rem) {
        display: none;
        flex-direction: unset;
        gap: unset;
      }
    }

    .hero-button {
      margin-bottom: 1.563rem;

      @media (min-width: 48rem) {
        margin-bottom: 0;
      }
    }

    .hero-image {
      border-radius: variables.$border-radius-lg;
      height: 9.5rem;
      object-fit: cover;
      width: 9.188rem;

      @media (min-width: 48rem) {
        height: 26.875rem;
        width: 23.438rem;
      }
    }
  }
}
