@use '../variables';

/* Footer */
footer {
  background-color: variables.$color-background-light-gray;
  // pushes footer to the bottom in flexbox layout
  margin-top: auto;
  padding: 0.938rem 1.125rem;

  @media (min-width: 48rem) {
    padding: 6.75rem 1.125rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 53.75rem;

    @media (min-width: 48rem) {
      grid-template-columns: repeat(4, auto);
    }
  }

  h2 {
    margin-bottom: 1rem;
  }

  img {
    height: auto;
    width: 3.563rem;

    @media (min-width: 48rem) {
      width: 7.125rem;
    }
  }
}
