@use '../variables';

/* Footer */
footer {
  background-color: variables.$color-background-light-gray;
  // display: flex;
  // flex-flow: row wrap;
  // margin-top: auto;

  img {
    height: auto;
    width: 114px;
  }
}
