/* Header */
@use '../variables';

.header {
  padding: 0.938rem 1.125rem;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  background-color: variables.$color-background-white;
  z-index: 1;

  @media (min-width: 48rem) {
    padding: 1.875rem 1.125rem;
  }
}
