/* Hero */
@use '../variables';

.hero {
  background-color: variables.$color-background-green;
  color: variables.$color-text-light-gray;

  h2 {
    color: variables.$color-text-yellow;
  }

  .hero-image-container {
    position: relative;
    top: 1rem;

    .hero-image {
      width: 100px;
      z-index: -1;
    }
  }
}
