/* Hero */
@use '../variables';

.hero {
  display: flex;
  // TODO: figure out best value for adding space between hero image and text
  justify-content: space-between;
  background-color: variables.$color-background-green;
  color: variables.$color-text-light-gray;

  h2 {
    color: variables.$color-text-yellow;
  }

  .hero-image {
    width: 100px;
  }
}
