/* Meal Card */
@use '../variables';

.meal-card {
  background-color: variables.$color-background-light-gray;

  .meal-card-image {
    width: 100px;
  }

  .meal-card-price {
    color: variables.$color-text-dark-peach;
  }
}
