/* Payment Info Form */

.payment-info-form-section {
  padding: 0.938rem 1.125rem;

  @media (min-width: 48rem) {
    padding-top: 5.438rem;
    padding-bottom: 4.563rem;
  }

  .payment-info-form {
    display: grid;
    gap: 1.25rem;
  }
}
