/* Variables */

/* Tier 1: Swatches */
$swatch-green: #495E57;
$swatch-yellow: #F4CE14;
$swatch-light-peach: #FBDABB;
$swatch-dark-peach: #EE9972;
$swatch-light-gray: #EDEFEE;
$swatch-dark-gray: #333333;

/* Tier 2: Application */

// Background
$color-background-green: $swatch-green;
$color-background-yellow: $swatch-yellow;
$color-background-light-peach: $swatch-light-peach;
$color-background-dark-peach: $swatch-dark-peach;
$color-background-light-gray: $swatch-light-gray;
$color-background-dark-gray: $swatch-dark-gray;

// Text
$color-text-green: $swatch-green;
$color-text-yellow: $swatch-yellow;
$color-text-light-peach: $swatch-light-peach;
$color-text-dark-peach: $swatch-dark-peach;
$color-text-light-gray: $swatch-light-gray;
$color-text-dark-gray: $swatch-dark-gray;