/* Variables */

/* Tier 1: Swatches */
$swatch-green: #495e57;
$swatch-yellow: #f4ce14;
$swatch-light-peach: #fbdabb;
$swatch-dark-peach: #ee9972;
$swatch-light-gray: #edefee;
$swatch-dark-gray: #333333;
$swatch-white: #ffffff;

/* Tier 2: Application */

// Background
$color-background-green: $swatch-green;
$color-background-yellow: $swatch-yellow;
$color-background-light-peach: $swatch-light-peach;
$color-background-dark-peach: $swatch-dark-peach;
$color-background-light-gray: $swatch-light-gray;
$color-background-dark-gray: $swatch-dark-gray;
$color-background-white: $swatch-white;

// Text
$color-text-green: $swatch-green;
$color-text-yellow: $swatch-yellow;
$color-text-light-peach: $swatch-light-peach;
$color-text-dark-peach: $swatch-dark-peach;
$color-text-light-gray: $swatch-light-gray;
$color-text-dark-gray: $swatch-dark-gray;
