/* Variables */

/* Tier 1: Swatches */
$swatch-green: #495E57;
$swatch-yellow: #F4CE14;
$swatch-light-peach: #FBDABB;
$swatch-dark-peach: #EE9972;
$swatch-light-gray: #EDEFEE;
$swatch-dark-gray: #333333;

/* Tier 2: Application */

// Background
$color-background-dark: $swatch-green;
$color-background-light: $swatch-light-gray;