/* App */

// Layout
// .grid-container {
//   display: grid;
//   height: 100vh;
//   grid-template-rows: auto 1fr auto;
// }

// Header


// Nav


// Main


// Footer


// Resource: https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}