@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: variables.$color-text-dark-gray;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Resource: https://www.30secondsofcode.org/articles/s/css-footer-at-the-bottom/#:~:text=You%20can%20use%20flexbox%20to,and%20flex%2Ddirection%3A%20column%20.
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Resource: https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Global element styles
a {
  color: variables.$color-text-dark-gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  font-weight: variables.$font-weight-medium;
  font-size: 1.125rem;
  list-style: none;
}

// Display Title
h1 {
  font-family: variables.$font-family-serif;
  font-size: variables.$font-size-2xl;
  font-weight: variables.$font-weight-medium;
}

// Sub Title
h2 {
  font-family: variables.$font-family-serif;
  font-size: variables.$font-size-xl;
  font-weight: variables.$font-weight-regular;
}

// Section Title
h3 {
  font-size: variables.$font-size-lg;
  font-weight: variables.$font-weight-extra-bold;
  text-transform: uppercase;
}

// Card Title
h4 {
  font-size: variables.$font-size-md;
}

// Not used in design
h5 {
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-semi-bold;
}

// Not used in design
h6 {
  font-size: variables.$font-size-xs;
  font-weight: variables.$font-weight-semi-bold;
}

// Paragraph and Highlight Text
p,
.highlight {
  color: variables.$color-text-green;
}

// Paragraph Text
p {
  color: variables.$color-text-green;
  line-height: 1.5;
}

// Lead and Highlight Text
.lead-text,
.highlight {
  line-height: normal;
  font-weight: variables.$font-weight-medium;
}

// Lead Text
.lead-text {
  color: variables.$color-text-dark-gray;
  font-size: variables.$font-size-md;
}

.lead-text--newline {
  white-space: pre-wrap;
}

// Section Categories
// Not used in design?
.section-categories {
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-extra-bold;
}

// Buttons
button,
input[type='submit'] {
  border: none;
  cursor: pointer;
}

.button,
.link-button {
  border-radius: 1rem;
  color: variables.$color-text-dark-gray;
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-bold;
  padding: 0.5rem 1rem;

  @media (min-width: 48rem) {
    font-size: variables.$font-size-md;
    padding: 1.25rem 2.125rem 1.188rem 2.188rem;
  }
}

.button--primary,
.link-button--primary {
  background-color: variables.$color-background-yellow;
}

.button--primary:active {
  background-color: variables.$color-background-yellow--active;
}

.button--primary:disabled {
  opacity: 0.5;
}

// Link Buttons
.link-button {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

// Utility Classes
.util-container {
  margin: 0 auto;
  max-width: 53.75rem;
}

// Hero Overrides: Use when the subtitle and/or link are not provided to the component
.util-hero-title {
  @media (min-width: 48rem) {
    margin-bottom: 2.688rem;
  }
}

// Along with relative positioning of the parent, this adds an overlay behind the opened hamburger menu
// Resource: https://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
.util-overlay::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// Fieldset Reset
// legend {
//   padding: 0;
//   display: table;
// }
// fieldset {
//   border: 0;
//   padding: 0.01em 0 0 0;
//   margin: 0;
//   min-width: 0;
// }
// body:not(:-moz-handler-blocked) fieldset {
//   display: table-cell;
// }
