@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Markazi+Text:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: variables.$color-text-dark-gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: variables.$color-text-dark-gray;
}

a:hover {
  text-decoration: underline;
}

// Resource: https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Flex Layout
.flex-container {
  display: flex;

  &.flex-container--items-center {
    align-items: center;
  }

  // TODO: continue to test ways to adjust spacing horizontally
  &.flex-container--space-between {
    justify-content: space-between;
  }

  &.flex-container--content-center {
    justify-content: center;
  }

  &.flex-container--wrap {
    flex-wrap: wrap;
  }
}

// Grid Layout
.grid-adjustable-columns {
  display: grid;
  grid-auto-flow: row;

  @media (min-width: 48rem) {
    // TODO: Adjust to make more responsive
    width: min(100%, 75rem);
    margin: 0 auto;
    grid-auto-flow: column;
    gap: 1em;
  }
}
