@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: variables.$color-text-dark-gray;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Resource: https://www.30secondsofcode.org/articles/s/css-footer-at-the-bottom/#:~:text=You%20can%20use%20flexbox%20to,and%20flex%2Ddirection%3A%20column%20.
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Resource: https://www.a11yproject.com/posts/how-to-hide-content/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Global element styles
a {
  color: variables.$color-text-dark-gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  font-weight: variables.$font-weight-medium;
  font-size: 1.125rem;
  list-style: none;
}

// Display Title
h1 {
  font-family: variables.$font-family-serif;
  font-size: variables.$font-size-2xl;
  font-weight: variables.$font-weight-medium;
}

// Sub Title
h2 {
  font-family: variables.$font-family-serif;
  font-size: variables.$font-size-xl;
  font-weight: variables.$font-weight-regular;
}

// Section Title
h3 {
  font-size: variables.$font-size-lg;
  font-weight: variables.$font-weight-extra-bold;
  text-transform: uppercase;
}

// Card Title
h4 {
  font-size: variables.$font-size-md;
}

// Not used in design
h5 {
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-semi-bold;
}

// Not used in design
h6 {
  font-size: variables.$font-size-xs;
  font-weight: variables.$font-weight-semi-bold;
}

// Paragraph and Highlight Text
p,
.highlight {
  color: variables.$color-text-green;
}

// Paragraph Text
p {
  color: variables.$color-text-green;
  line-height: 1.5;
}

// Lead and Highlight Text
.lead-text,
.highlight {
  line-height: normal;
  font-weight: variables.$font-weight-medium;
}

// Lead Text
.lead-text {
  color: variables.$color-text-dark-gray;
  font-size: variables.$font-size-md;
}

.lead-text--newline {
  white-space: pre-wrap;
}

// Section Categories
// Not used in design?
.section-categories {
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-extra-bold;
}

// Buttons
button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  cursor: pointer;
}

.button,
.link-button {
  border: 0.25rem solid variables.$border-color-yellow;
  border-radius: variables.$border-radius-lg;
  color: variables.$color-text-dark-gray;
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-bold;
  padding: 0.5rem 1rem;

  @media (min-width: 48rem) {
    border-radius: variables.$border-radius-sm;
    font-size: variables.$font-size-md;
    padding: 1.25rem 2.125rem 1.188rem 2.188rem;
    min-width: 12.5rem;
  }
}

.button--primary,
.link-button--primary {
  background-color: variables.$color-background-yellow;
}

.button--primary:active .link-button--primary:active {
  background-color: variables.$color-background-dark-yellow;
  border-color: variables.$color-border-dark-yellow;
}

.button--primary:disabled,
.button--secondary:disabled,
.link-button--primary:disabled,
.link-button--secondary:disabled {
  opacity: 0.5;
}

.button--secondary,
.link-button--secondary {
  background-color: variables.$color-background-white;
}

.button--secondary:active,
.link-button--secondary:active {
  background-color: variables.$color-background-light-gray;
  border-color: variables.$color-border-dark-yellow;
}

// Link Buttons
.link-button {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }
}

// Utility Classes
.util-container {
  margin: 0 auto;
  max-width: 53.75rem;
}

// Hero Overrides: Use when the subtitle and/or link are not provided to the component
.util-hero-title {
  @media (min-width: 48rem) {
    margin-bottom: 2.688rem;
  }
}

// Along with relative positioning of the parent, this adds an overlay behind the opened hamburger menu
// Resource: https://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
.util-overlay::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// Fieldset Reset
fieldset {
  border: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  label.lead-text {
    color: variables.$color-text-green;
    margin-top: 2.125rem;
  }

  .flex-items {
    display: flex;
    // Wraps items to new line on mobile devices
    flex-wrap: wrap;
    gap: 1rem;

    @media (min-width: 48rem) {
      gap: 2rem;
    }

    .flex-item-group {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: 48rem) {
        flex: 1;
      }
    }
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.125rem;
    gap: 1rem;
    margin-bottom: 2.125rem;

    @media (min-width: 48rem) {
      flex-direction: row;
      gap: 12.5rem;
    }
  }
}

// Form Input Styles
input[type='date'],
input[type='number'],
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  border: variables.$border-size solid variables.$border-color-green;
  border-radius: variables.$border-radius-lg;
  font-family: variables.$font-family-sans-serif;
  font-size: variables.$font-size-sm;
  padding: 0 1rem;
  height: 5rem;

  @media (min-width: 48rem) {
    border-radius: variables.$border-radius-sm;
  }
}

textarea {
  padding: 1.719rem 1rem;
}
